{% extends "navbar.html" %}
{% block title %}{{country}}{% endblock %}
{% block body %}
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          {% for status in status %}
          <div class="card mb-3">
            <div class="card-body bg-warning">
              <h1 class="card-title"><span>{{status.confirmed}}</span></h1>
              <p class="card-text text-muted">Case Total</p>
            </div>
          </div>
          <div class="card mb-3 bg-primary">
            <div class="card-body">
              <h1 class="card-title"><span>{{status.active}}</span></h1>
              <p class="card-text text-muted">Active Total</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card mb-3 bg-success">
            <div class="card-body">
              <h1 class="card-title"><span>{{status.recovered}}</span></h1>
              <p class="card-text text-muted">Recovered Total</p>
            </div>
          </div>
          <div class="card mb-3 bg-danger">
            <div class="card-body">
              <h1 class="card-title"><span>{{status.deaths}}</span></h1>
              <p class="card-text text-muted">Deaths Total</p>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="col-sm-12">
          <div class="card mb-3">
            <div class="card-body">
              <h6 class="text-primary">About</h6>
              <hr>
              <p>This website is useful for viewing the status of corona in Indonesia and globally, made with the Flask and Bootstrap4 Framework, assisted by the API from the Kawalcorona web.</p>
              <i class="fa-2x fab fa-github text-dark mr-1"><a href="https://github.com/anonkyuhuu"></i></a>
              <i class="fa-2x fab fa-facebook text-dark mr-1"><a href="https://github.com/anonkyuhuu"></i></a>
              <i class="fa-2x fab fa-instagram text-dark mr-1"><a href="https://github.com/anonkyuhuu"></i></a>
              <i class="fa-2x fab fa-telegram text-dark mr-1"><a href="https://github.com/anonkyuhuu"></i></a>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <h6 class="text-primary">Global Case</h6>
              <hr>
              <div class="over">
                <table class="table table-hover table-striped mt-4">
                  <tr>
                    <th>ID</th>
                    <th>Country</th>
                    <th>Case</th>
                    <th>Active</th>
                    <th>Recovered</th>
                    <th>Died</th>
                  </tr>
                  {% for id, data in values %}
                  <tr>
                    <td>{{id + 1}}</td>
                    <td><a href="/global/{{data.country}}">{{data.country}}</td>
                    <td>{{data.confirmed}}</td>
                    <td>{{data.active}}</td>
                    <td>{{data.recovered}}</td>
                    <td>{{data.deaths}}</td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}